<div class="item">
    <div>Nome da Matéria</div>
    <div>
        <input type="text"
        name="name"
        placeholder="Farinha de Trigo"
        value="{{ product.name }}">
    </div>
</div>

<div class="item">
    <div>Marca</div>
    <div>
        <input type="text"
        name="brand"
        placeholder=""
        value="{{ product.brand }}">
    </div>
</div>

<div class="item">
    <div>Fornecedor</div>
    <div>
        <input type="text" 
        name="provider"
        value="{{ product.provider }}">
    </div>
</div>

<div class="item">
    <div>Quantity(Kg)</div>
    <div>
        <input type="number" 
        name="quantity"
        placeholder="135"
        value="{{ product.quantity }}">
    </div>
</div>

<div class="item">
    <div>Preço pago(R$)</div>
    <div>
        <input type="text" 
        name="total_value"
        placeholder="R$ 00,00"
        value="{{product.total_value}}"
        onkeydown="Mask.apply(this, 'formatBRL')"
        >
    </div>
</div>
<div class="buttonsProducts">
    <button type="submit">
        Salvar
    </button>
</div>