{% extends "layout.njk" %}

{% block content %}

    <div class="container">

        <div class="table-container">
            <div class="header">
                <a class="button" href="/products/create"> Cadastrar Novo Produto</a>
                <div class="productscategories">
                    <a href="#solid">Produtos Brutos</a>
                    <a href="#liquid">Produtos Líquidos</a>
                    <a href="#spice">Tempero e outros</a>
                </div>
                <form action="/products" method="GET">
                    <input
                    type="text"
                    name="filter"
                    placeholder="Nome do produto"
                    value={{filter}}>
                    <button type="submit"> Filtrar </button>
                </form>
            </div>
        </div>

        <div class="products-solid classModifyTitle" id="solid">
            <h1 class="container">Produtos brutos</h1>
            {% if products == 0 %}
                <div class="cards-products productNotFound container">
                    <img src="../../notproduct.svg" alt="">
                    <div class="notProduct">
                        <h1>Ohh não, me parece que você não tem um produto...</h1>
                        <a class="button" href="/products/create"> Cadastre um Agora!</a>
                    </div>
                </div>
            {% else %}
                <div class="cards-products container">
                    {% for product in products%}
                        <div class="card-product">
                            <div class="card-text">
                                <h1>{{product.name}}</h1>
                                <h3>Marca: 
                                    <span>{{product.brand}}</span>
                                </h3>
                                <h3>Fornecedor: 
                                    <span>{{product.provider}}</span>
                                </h3>
                                <h4>Quantidade(Kg): 
                                    <span>{{product.quantity}}</span>
                                </h4>
                                <h4>Valor por unidade: 
                                    <span class="result">{{product.results}}</span>
                                </h4>
                                <h4>Valor Total: {{product.total_value}}</h4>
                                <h5>Ultima Atualização: {{product.updated_at}} às {{product.published}}</h5>
                                <a href="/products/{{product.id}}">Ver Produto</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>

        <div class="products-solid classModifyTitle" id="liquid">
            <h1 class="container">Produtos Líquidos</h1>
            {% if products !== 0 or products == 0 %}
                <div class="cards-products productNotFound container">
                    <img src="../../notproduct.svg" alt="">
                    <div class="notProduct">
                        <h1>Ohh não, me parece que você não tem um produto...</h1>
                        <a class="button" href="/products/create"> Cadastre um Agora!</a>
                    </div>
                </div>
            {% endif %}
            {# 
            <div class="cards-products container">
                {% for product in products%}
                    <div class="card-product">
                        <div class="card-text">
                            <h1>{{product.name}}</h1>
                            <h3>Marca: 
                                <span>{{product.brand}}</span>
                            </h3>
                            <h3>Fornecedor: 
                                <span>{{product.provider}}</span>
                            </h3>
                            <h4>Quantidade(Kg): 
                                <span>{{product.quantity}}</span>
                            </h4>
                            <h4>Valor por unidade: 
                                <span>R$ 10,000</span>
                            </h4>
                            <h4>Valor Total: {{product.total_value}}</h4>
                            <h5>Ultima Compra: {{product.updated_at}}</h5>
                            <a href="/products/{{product.id}}">Ver Produto</a>
                        </div>
                    </div>
                {% endfor %}
            </div> #}
        </div>

        <div class="products-solid classModifyTitle" id="spice">
            <h1 class="container">Temperos e outros</h1>
            {% if products !== 0 or products == 0 %}
                <div class="cards-products productNotFound container">
                    <img src="../../notproduct.svg" alt="">
                    <div class="notProduct">
                        <h1>Ohh não, me parece que você não tem um produto...</h1>
                        <a class="button" href="/products/create"> Cadastre um Agora!</a>
                    </div>
                </div>
            {% endif %}

            {# <div class="cards-products container">
                {% for product in products%}
                    <div class="card-product">
                        <div class="card-text">
                            <h1>{{product.name}}</h1>
                            <h3>Marca: 
                                <span>{{product.brand}}</span>
                            </h3>
                            <h3>Fornecedor: 
                                <span>{{product.provider}}</span>
                            </h3>
                            <h4>Quantidade(Kg): 
                                <span>{{product.quantity}}</span>
                            </h4>
                            <h4>Valor por unidade: 
                                <span>R$ 10,000</span>
                            </h4>
                            <h4>Valor Total: {{product.total_value}}</h4>
                            <h5>Ultima Compra: {{product.updated_at}}</h5>
                            <a href="/products/{{product.id}}">Ver Produto</a>
                        </div>
                    </div>
                {% endfor %}
            </div> #}
        </div>
    </div>

<script>

    const tbodyTds = document.querySelectorAll('tbody tr td:first-child');
    tbodyTds.forEach(td => {
        td.style.height = `${td.parentElement.offsetHeight}px`;
    })
</script>
{% endblock content %}