{% extends "layout.njk" %}

{% block content %}

    <div class="container">
        <div class="table-container container">
            <div class="header">
                <a class="button" href="/products/create"> Cadastrar Novo Produto</a>
                <form action="/products" method="GET">
                    <input
                    type="text"
                    name="filter"
                    placeholder="Nome do produto"
                    value={{filter}}>
                    <button type="submit"> Filtrar </button>
                </form>
            </div>
        </div>

        <div class="products-solid classModifyTitle" id="solid">
            <div class="titleProductsCategories container">
                <h1>Produtos brutos</h1>
                <a href="#liquid">Produtos Líquidos</a>
                <a href="#spice">Tempero e outros</a>
            </div>
            <div class="cards-products container">
                {% for product in products %}
                    {%if product.category_id == 1 %}
                    <div class="card-product" style="background-color:{{product.color}}">
                        <div class="card-text">
                            <h1>{{product.name}}</h1>
                            <h3>Marca: 
                                <span>{{product.brand}}</span>
                            </h3>
                            <h3>Fornecedor: 
                                <span>{{product.provider}}</span>
                            </h3>
                            <h4>Quantidade(Kg): 
                                <span>{{product.quantity}}</span>
                            </h4>
                            <h4>Valor por unidade: 
                                <span class="result">{{product.results}}</span>
                            </h4>
                            <h4>Valor Total: {{product.total_value}}</h4>
                            <h5>Ultima Atualização: {{product.updated_at}} às {{product.published}}</h5>
                            <a href="/products/{{product.id}}">Ver Produto</a>
                        </div>
                    </div>
                    {%endif%}
                {% endfor %}
            </div>
        </div>

        <div class="products-solid classModifyTitle" id="liquid">
            <div class="titleProductsCategories container">
                <h1>Produtos Líquidos</h1>
                <a href="#solid">Produtos Brutos</a>
                <a href="#spice">Tempero e outros</a>
            </div>

            {# <div class="cards-products productNotFound container">
                <img src="../../notproduct.svg" alt="">
                <div class="notProduct">
                    <h1>Ohh não, me parece que você não tem um produto...</h1>
                    <a class="button" href="/products/create"> Cadastre um Agora!</a>
                </div>
            </div> #}

            <div class="cards-products container">
                {% for product in products%}
                    {%if product.category_id == 2 %}
                    <div class="card-product" style="background-color:{{product.color}}">
                        <div class="card-text">
                            <h1>{{product.name}}</h1>
                            <h3>Marca: 
                                <span>{{product.brand}}</span>
                            </h3>
                            <h3>Fornecedor: 
                                <span>{{product.provider}}</span>
                            </h3>
                            <h4>Quantidade(ml): 
                                <span>{{product.quantity}}</span>
                            </h4>
                            <h4>Valor por unidade: 
                                <span class="result">{{product.results}}</span>
                            </h4>
                            <h4>Valor Total: {{product.total_value}}</h4>
                            <h5>Ultima Atualização: {{product.updated_at}} às {{product.published}}</h5>
                            <a href="/products/{{product.id}}">Ver Produto</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="products-solid classModifyTitle" id="spice">
            <div class="titleProductsCategories container">
                <h1>Tempero e outros</h1>
                <a href="#liquid">Produtos Líquidos</a>
                <a href="#solid">Produtos Brutos</a>
            </div>
            <div class="cards-products container">
            {% for product in products%}
                {%if product.category_id == 3 %}
                <div class="card-product" style="background-color:{{product.color}}">
                    <div class="card-text">
                        <h1>{{product.name}}</h1>
                        <h3>Marca: 
                            <span>{{product.brand}}</span>
                        </h3>
                        <h3>Fornecedor: 
                            <span>{{product.provider}}</span>
                        </h3>
                        <h4>Quantidade(): 
                            <span>{{product.quantity}}</span>
                        </h4>
                        <h4>Valor por unidade: 
                            <span class="result">{{product.results}}</span>
                        </h4>
                        <h4>Valor Total: {{product.total_value}}</h4>
                        <h5>Ultima Atualização: {{product.updated_at}} às {{product.published}}</h5>
                        <a href="/products/{{product.id}}">Ver Produto</a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}