{% extends "layout.njk" %}

{% block content %}
        {% block head %}
            <title>Easy Cost - {{product.name}}</title>
        {% endblock %}
    <div class="cardCreate container editShow">
        <section class="details">
            <h3>Detalhes / Id: {{product.id}}</h3>
            <div class="item">
                <div>Produto</div>
                <div>{{product.name}}</div>
            </div>

            <div class="item">
                <div>Marca</div>
                <div>{{product.brand}}</div>
            </div>

            <div class="item">
                <div>Fornecedor</div>
                <div>{{product.provider}}</div>
            </div>

            <div class="item">
                <div>Quantidade(Kg)</div>
                <div>{{product.quantity}}</div>
            </div>

            <div class="item">
                <div>Valor Total</div>
                <div>{{total}}</div>
            </div>
            
            <div class="item">
                <div>Ultima Atualização</div>
                <div>{{product.updated_at}} às {{product.published.hour}}</div>
            </div>

            <div class="item">
                <div>Publicado em: {{product.published.day}} às {{product.published.hour}}</div>
            </div>
        </section>

        <section class="details">
            <form method="POST" action="/products?_method=PUT">
                <h3>Editar Produto</h3>

                {% include 'products/fields.njk'  %}

                {# Precisa do id para gerar o update do edit #}
                <input type="hidden"
                name="id"
                value={{product.id}}>
            </form>
            <div class="buttonsProducts">
                <form class="form-delete" action="/products?_method=DELETE" method="post">
                    <input type="hidden"
                    name="id"
                    value={{product.id}}>
                    <button type="submit">Deletar</button>
                </form> 
            </div>

        </section>
    </div>
    
    <div class=" container products-solid classModifyTitle" id="solid">
        <h1 class="container">Histórico de Atualização</h1>
        <div class="cards-products container">
            <h1>Em breve...</h1>
                {# <div class="card-product">
                    <div class="card-text">
                        <h1>{{product.name}}</h1>
                        <h3>Marca: 
                            <span>{{product.brand}}</span>
                        </h3>
                        <h3>Fornecedor: 
                            <span>{{product.provider}}</span>
                        </h3>
                        <h4>Quantidade(Kg): 
                            <span>{{product.quantity}}</span>
                        </h4>
                        <h4>Valor por unidade: 
                            <span>R$ 10,000</span>
                        </h4>
                        <h4>Valor Total: {{product.total_value}}</h4>
                        <h5>Atualizado em: {{product.updated_at}}</h5>
                        <a href="/products/{{product.id}}">Ver Produto</a>
                    </div>
                </div> #}
        </div>
    </div>

{% endblock content %}