
input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

.label-class:hover{
    cursor: pointer;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}


#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: lightcoral;
}

#form-delete button[type="submit"]:hover {
    background-color: red;
}
