@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --color-blue:#2392fa;
    --color-primary: #006a97;
    --color-White: rgb(234, 246, 255);
    --color-darktheme: #282a36;
    --color-amareloM: #f7df1e;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: var(--color-primary);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}    

/* Formulario create.njk */
input,select {
    width: 100%;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

select {
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}
