<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
           <title>Easy Cost </title>
        {% endblock %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap">

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/cardetable.css">
    </head>
    <body>
        <header class="headerMain">
            <div class="logo">
                <a href="/">
                    <h1>Easy</h1>
                    <h2>Cost</h2>
                </a>
            </div>
            <div class="links">
                <a href="/products">Matéria Prima</a>
                <a>Ficha técnica</a>
            </div>
        </header>

        {% block content %}

        {% endblock %}

        <script src="/scripts.js"></script>

    </body>
</html>