<footer class="footer">
    <div class="copy">
        <p>&copy; CopyRight - EasyCost</p>
    </div>
    <div class="information">
        <a>Saiba mais</a>
        <a>Politica de privacidade</a>
    </div>
    <div class="contact">
        <a>Enfrentando problemas?</a>
        <p>
            <a href="">Entre em contato</a>
        </p>
    </div>
</footer>